* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #020617;
  color: #e5e7eb;
}

.layout {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 230px;
  background: #020617;
  border-right: 1px solid #1e293b;
  padding: 20px;
}

.sidebar h2 {
  color: #38bdf8;
}

.sidebar p {
  opacity: 0.7;
  margin-top: 5px;
}

.main {
  flex: 1;
  padding: 30px;
  background: #0f172a;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin: 20px 0;
}

.card {
  background: #020617;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(56, 189, 248, 0.15);
}

.card span {
  font-size: 14px;
  opacity: 0.7;
}

.card h2 {
  font-size: 28px;
  color: #38bdf8;
}

.box {
  background: #020617;
  margin-top: 25px;
  padding: 20px;
  border-radius: 12px;
}

form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

input, button {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #334155;
  background: #020617;
  color: white;
}

button {
  grid-column: 1 / -1;
  background: #38bdf8;
  color: #020617;
  font-weight: bold;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #334155;
}

th {
  color: #38bdf8;
}
